
header{
    background-color: #782221;
    font-family: 'Lato', sans-serif;
}
samp{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
img{
    height: 300px;
    width: 300px;
    border: 2px solid black;
    border-radius: 50%;
    box-shadow: 0 0 40px deepskyblue,15px 0 40px orange;
    cursor: zoom-in;
}
h1{
    color: white;
    text-align: center;
}
h2{
    color: white;
    text-align: center;
}
h3{
    background-color: #dbc2a4;
    padding: 20px;
    font-family: 'Lato', sans-serif;
}
h4{
    font-family: 'Lato', sans-serif;
}
address{
    background-color: #2c1d27; 
    color: white;
    display: flex;
    justify-content: space-around;
    font-family: 'Raleway', sans-serif;
}
main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Raleway', sans-serif;
}
#element-1{
    text-align: center;
    
}
#element-1 :hover{
    color: green;
    padding-bottom: 3px;
    border-bottom: 2px solid green;
}

#Element-2{
    background-color: #782221;
}
#Element-3{
    flex-grow: 2;
}
#Element-4{
    margin-right: 20px;
}
#Element-5{
    margin-inline: 25px;
    border-left-width: 10px ;
    border-left-style: solid;
    border-color: #782221;

}
#Element-5:hover{
    border-right-style: solid;
    border-color: #782221;
    border-right-width: 10px ;
}

#Element-6{
    text-indent: 100px;
    margin: 20px;
}
body{
    margin-inline: 262px;
    border-right-style: solid;
    border-right-width: 5px;
}
div{
    padding-bottom: 20px;
    padding-top: 20px;
}
i:hover{
    opacity: 0.5;
    
}
footer{
    background-color: #782221;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Raleway', sans-serif;
}



    

