
header{
    border: 2px solid black;
    background-color: #782221;
}
img{
    height: 200px;
    width: 200px;
    border: 2px solid black;
    border-radius: 50%;
    box-shadow: 0 0 30px deepskyblue;
    position: relative; left: 40%;
    cursor: zoom-in;

}

h1{
    text-align: center;
    color: white;
    font-family: 'Lato', sans-serif;

}
h2{
    text-align: center;
    color: white;
    font-family: 'Lato', sans-serif;
}
h3{
    background-color: #dbc2a4;
    padding: 20px;
    font-family: 'Lato', sans-serif;
    
    
}
h4{
    font-family: 'Lato', sans-serif;
}


address{
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    background-color: #2c1d27; 
    color: white;
    
}
main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#element-1{
    text-align: center;
}
#Element-2{
    background-color: #782221;

}
#Element-3{
    flex-grow: 2;
}
#Element-4{
    margin-right: 20px;
    

}
#Element-5{
    margin-inline: 25px;
    border-left-width: 10px ;
    border-left-style: solid;
    border-color: #782221;
    

}

section{
    border: 2px solid black;
}

body{
    margin-inline: 262px;
    font-family: 'Raleway', sans-serif;
}
footer{
    
    border: 2px solid black;
    background-color: #782221;
    text-align: center;
}

    

